.dialogClass {
    height: 300px;
    background: white;
    border: 1px solid;
    border-width: thick;
    border-color: black;
    box-sizing: border-box;
    margin-bottom: 10px;
    overflow: auto;
}

input {
    width: 350px;
    height: 20px;
}

form {
    margin-left: 20px;
}

button {
    height: 26px
}

h1 {
    font-family: Calibri, sans-serif ;
    font-weight: 500;
    font-size: 35px;
}

.boxRightClass {
    border: 1px solid #ccc;
    padding: 0.01em 16px;
    border-radius: 16px;
    box-sizing: content-box;
    width: fit-content;
    max-width: 250px;
    overflow-wrap: break-word;
    float: right;
}

.boxLeftClass {
    border: 1px solid #ccc;
    padding: 0.01em 16px;
    border-radius: 16px;
    box-sizing: content-box;
    width: fit-content;
    max-width: 250px;
    overflow-wrap: break-word;
    float: left;
}

.boxClass {
    overflow: hidden;
    margin: 2px;
}